<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - HappyJam</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/CameraPreview.css' %}" />
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>

</head>
<body>
    <div id="loading-wrapper">
      <div class="cube-wrapper">
  <div class="cube-folding">
    <span class="leaf1"></span>
    <span class="leaf2"></span>
    <span class="leaf3"></span>
    <span class="leaf4"></span>
  </div>
  <span class="loading" data-name="Loading">Loading</span>
</div>
  </div>
        <div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
    <div class="box-center">
        <div class="box">
            <main>
                <div class="title">
                    <span>CameraPreview</span>
                </div>
                <div class="camera">
  	                <!-- カメラ画像の入力 -->
                    <video id="video"  width="1136px" height="640px"></video>
                </div>
                
            </main>
            <div class="sub">
                

                <form method="POST" action="{% url 'home' %}">
                {% csrf_token %}
                <input class="button" type="image" src="{% static 'app/img/home.png' %}">
                </form>
                <form method="POST" action="{% url 'Instrument' %}">
                {% csrf_token %}
                <input class="button" type="image" src="{% static 'app/img/back.png' %}">
                </form>

                <form method="POST" action="{% url 'Video' %}">
                {% csrf_token %}

                <input class="btn" type="submit" value="I'm Ready">
            </form>
            </div>
        </div>
    </div>
    <script>
        const video = document.getElementById("video")
        navigator.mediaDevices.getUserMedia({
            video: true,
            audio: false,
        }).then(stream => {
            video.srcObject = stream;
            video.play()
        }).catch(e => {
          console.log(e)
        })
    </script>
    <script>
    const loader = document.getElementById('loading-wrapper');
        window.addEventListener('load', () => {
            const ms = 400;
            loader.style.transition = 'opacity ' + ms + 'ms';
  
            const loaderOpacity = function(){
            loader.style.opacity = 0;
            }
        const loaderDisplay = function(){
        loader.style.display = "none";
        }
        // setTimeout(loaderOpacity, 1);
        // setTimeout(loaderDisplay, ms);
        // デモ用
        setTimeout(loaderOpacity, 2000);
        setTimeout(loaderDisplay, 2000 + ms);
        });
        
    </script>
    <script>
        var animateButton = function(e) {

  e.preventDefault;
  //reset animation
  e.target.classList.remove('animate');
  
  e.target.classList.add('animate');
  setTimeout(function(){
    e.target.classList.remove('animate');
  },700);
};

var bubblyButtons = document.getElementsByClassName("bubbly-button");

for (var i = 0; i < bubblyButtons.length; i++) {
  bubblyButtons[i].addEventListener('click', animateButton, false);
}
    </script>

</body>
</html>