<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - HappyJam</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/Instrument.css' %}" />
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
</head>
<body>
    <div class="box-center">
        <div class="box">
            <main>
                <div class="title">
                    <span>Continue</span>
                </div>
            </main>
            <form method="POST" action="{% url 'Instrument' %}">
                {% csrf_token %}
                <input class="botton" type="submit" value="別の楽器を選ぶ">
            </form>
            <form method="POST" action="{% url 'Preview' %}">
                {% csrf_token %}
                <input class="botton" type="submit" value="演奏終了">
            </form>

        </div>
    </div>


</body>
</html>