<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - HappyJam</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/Genre.css' %}" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
</head>
<body>
      <!-- ローディング画面 -->
  <div id="loading-wrapper">
      <div class="cube-wrapper">
        <div class="cube-folding">
            <span class="leaf1"></span>
            <span class="leaf2"></span>
            <span class="leaf3"></span>
            <span class="leaf4"></span>
        </div>
        <span class="loading" data-name="Loading">Loading</span>
       </div>
  </div>
  <div class="bg"></div>
  <div class="bg bg2"></div>
  <div class="bg bg3"></div>
    <div class="box-center">
        <div class="box">
            <main>
                <div class="title">
                    <span>Choose<br />Music</span>
                </div>
            </main>
                <form method="POST" action="{% url 'Instrument' %}">
                    {% csrf_token %}
                <!-- Swiper -->
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            
                            <div class="card">
                                <main>
                                <div class="cardImgframe">
                                    <img src="{% static 'app/img/pop3.png' %}"/>

                                </div>
                                </main>
                                <div class="cardButtonbox"><input class="btn" type="submit" value="pop"></div>
                            </div>
                            
                         </div>
                        <div class="swiper-slide">
                            
                             <div class="card">
                                <main>
                                <div class="cardImgframe">
                                <img src="{% static 'app/img/jazz2.png' %}"/>
                                </div>
                                </main>
                                <div class="cardButtonbox"><input class="btn" type="submit" value="jazz"></div>
                             </div>
                            
                        </div>
                         <div class="swiper-slide">
                             
                             <div class="card">
                                <main>
                                <div class="cardImgframe">
                                    <img src="{% static 'app/img/rock.png' %}"/>
                                </div>
                                </main>
                                <div class="cardButtonbox"><input class="btn" type="submit" value="rock"></div>
                             </div>
                             
                         </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                </form>
            <form method="POST" action="{% url 'home' %}">
                {% csrf_token %}
                <input class="button" type="submit" value="home">
            </form>
            </div>
        </div>

    
 
  

    
     <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <script>
      var swiper = new Swiper(".mySwiper", {
        effect: "coverflow",
        grabCursor: true,
        centeredSlides: true,
        slidesPerView: "auto",
        coverflowEffect: {
          rotate: 50,
          stretch: 0,
          depth: 100,
          modifier: 1,
          slideShadows: true,
        },
        pagination: {
          el: ".swiper-pagination",
        },
      });

       const loader = document.getElementById('loading-wrapper');
        window.addEventListener('load', () => {
            const ms = 400;
            loader.style.transition = 'opacity ' + ms + 'ms';
  
            const loaderOpacity = function(){
            loader.style.opacity = 0;
            }
        const loaderDisplay = function(){
        loader.style.display = "none";
        }
        // setTimeout(loaderOpacity, 1);
        // setTimeout(loaderDisplay, ms);
        // デモ用
        setTimeout(loaderOpacity, 2000);
        setTimeout(loaderDisplay, 2000 + ms);
        });
        
    </script>
</body>
</html>