<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - HappyJam</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/Genre.css' %}" />
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
</head>
<body>
    <div class="box-center">
        <div class="box">
            <main>
                <div class="title">
                    <span>Choose<br />Music</span>
                </div>
            </main>

            <form method="POST" action="{% url 'Instrument' %}">
                {% csrf_token %}
                <div class="card card-skin">
                    <div class="card__imgframe" style="background:url(../img/pop.png) no-repeat center;"></div>
                    <div class="card__textbox">
                        <input class="botton" type="submit" value="pop">
                    </div>
                </div>
                <div class="card card-skin">
                    <div class="card__imgframe" style="background:url(../img/pop.png) no-repeat center;"></div>
                    <div class="card__textbox">
                        <input class="botton" type="submit" value="jazz">
                    </div>
                </div>
                <div class="card card-skin">
                    <div class="card__imgframe" style="background:url(../img/pop.png) no-repeat center;"></div>
                    <div class="card__textbox">
                        <input class="botton" type="submit" value="rock">
                    </div>
                </div>
            </form>
        </div>
    </div>

  
</body>
</html>