<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - HappyJam</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/Instrument.css' %}" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
</head>
<body>
    <div class="box-center">
        <div class="box">
            <main>
                <div class="title">
                    <span>Choose<br />Instrument</span>
                </div>
            </main>
            <form method="POST" action="{% url 'CameraPreview' %}">
                {% csrf_token %}
                <!-- Swiper -->
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <main>
                            <div class="card">
                                <div class="cardImgframe">
                                    <img src="{% static 'app/img/guitar1.png' %}"/>
                                </div>
                                <div class="cardButtonbox"><input class="button" type="submit" value="guitar"></div>
                            </div>
                            </main>
                         </div>
                        <div class="swiper-slide">
                            <main>
                             <div class="card">
                                <div class="cardImgframe">
                                    <img src="{% static 'app/img/bass.png' %}"/>
                                </div>
                                <div class="cardButtonbox"><input class="button" type="submit" value="bass"></div>
                             </div>
                            </main>
                        </div>
                         <div class="swiper-slide">
                             <main>
                             <div class="card">
                                <div class="cardImgframe">
                                    <img src="{% static 'app/img/drum2.png' %}"/>
                                </div>
                                <div class="cardButtonbox"><input class="button" type="submit" value="drum"></div>
                             </div>
                                </main>
                         </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </form>
        </div>
    </div>
    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <script>
      var swiper = new Swiper(".mySwiper", {
        effect: "coverflow",
        grabCursor: true,
        centeredSlides: true,
        slidesPerView: "auto",
        coverflowEffect: {
          rotate: 50,
          stretch: 0,
          depth: 100,
          modifier: 1,
          slideShadows: true,
        },
        pagination: {
          el: ".swiper-pagination",
        },
      });
    </script>


</body>
</html>