<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - HappyJam</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
</head>
<body>
    <div class="box-center">
        <div class="box">
            <main>
                <div class="title">
                    <span>Choose<br />Instrument</span>
                </div>
            </main>
            <form method="POST" action="cgi-bin/index.py">
                {% csrf_token %}
                <main>

                    <input class="button" type="submit" value="guiter">
                    <input class="button" type="submit" value="base">
                    <input class="button" type="submit" value="piano">
                    <input class="button" type="submit" value="drum">
                </main>
            </form>
        </div>
    </div>


</body>
</html>