<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - HappyJam</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/Preview.css' %}" />
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
</head>
<body>
    <div id="loading-wrapper">
      <div class="cube-wrapper">
  <div class="cube-folding">
    <span class="leaf1"></span>
    <span class="leaf2"></span>
    <span class="leaf3"></span>
    <span class="leaf4"></span>
  </div>
  <span class="loading" data-name="Loading">Loading</span>
</div>
  </div>
        <div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
    <div class="box-center">
        <div class="box">
            <main>
                <div class="title">
                    <span>Preview</span>
                </div>
            </main>
            <video width="900" height="500" src="{% static 'app/movie/demo.mp4' %}" controls></video>

            <form method="POST" action="{% url 'home' %}">
                {% csrf_token %}
                <input class="button" type="submit" value="終了">
            </form>

        </div>
    </div>
    <script>
    const loader = document.getElementById('loading-wrapper');
        window.addEventListener('load', () => {
            const ms = 400;
            loader.style.transition = 'opacity ' + ms + 'ms';
  
            const loaderOpacity = function(){
            loader.style.opacity = 0;
            }
        const loaderDisplay = function(){
        loader.style.display = "none";
        }
        // setTimeout(loaderOpacity, 1);
        // setTimeout(loaderDisplay, ms);
        // デモ用
        setTimeout(loaderOpacity, 5000);
        setTimeout(loaderDisplay, 5000 + ms);
        });
        
    </script>

</body>
</html>