<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - HappyJam</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/video.css' %}" />
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>

    <!--mediapipe導入-->
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils/camera_utils.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils/control_utils.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils/drawing_utils.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/pose/pose.js" crossorigin="anonymous"></script>

    <!--howler.js導入-->
    <script src="https://cdn.jsdelivr.net/npm/howler@2.2.0/dist/howler.min.js"></script>

    <!--Tensorflow.js導入-->
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs/dist/tf.min.js"></script>

    
</head>
<body>
    <div id="loading-wrapper">
        <div class="cube-wrapper">
            <div class="cube-folding">
                <span class="leaf1"></span>
                <span class="leaf2"></span>
                <span class="leaf3"></span>
                <span class="leaf4"></span>
            </div>
            <span class="loading" data-name="Loading">Loading</span>
        </div>
    </div>
    <div class="bg"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div>
    <div class="box-center">
        <div class="box">
            <main>
                <div class="title">
                    <span>Video</span>
                </div>
            </main>

            <div class="container" >
                <div class="camera">
  	                <!-- カメラ画像の入力（hiddenで非表示） -->
                    <video class="input_video" style="position: absolate; visibility: hidden"></video>
                </div>
                <!-- 出力画面用キャンパス -->
                <canvas class="output_canvas" width="1280px" height="720px"></canvas>
            </div>

            <div class="sub">
                <form method="POST" action="{% url 'home' %}">
                    {% csrf_token %}
                    <input class="button" type="image" src="{% static 'app/img/home.png' %}">
                </form>
                <!--<form method="POST" action="{% url 'Continue' %}"-->
                    <input class="btn" type="submit" value="GO!" id="record">
                <!--</form>-->
            </div>
        </div>
    </div>
</body>
</html>

<script type="module">
    const videoElement = document.getElementsByClassName('input_video')[0];
    const canvasElement = document.getElementsByClassName('output_canvas')[0];
    const canvasCtx = canvasElement.getContext('2d');

    var blob;

    //tfjs_modelロード
    const model = await tf.loadLayersModel('{% static 'app/tfjs_model/model.json' %}');

    //volume判定フラグ
    var v_flag = 0;

    var tmp_point_history=[];//tfjs用

    //howler.js導入
    var sound1 = new Howl({
        src: ['/static/app/music/{{request.session.genre}}/bgm.mp3',],

        //オプション
        preload: true,   // 事前ロード
        volume: 0.8,     // 音量(0.0〜1.0の範囲で指定)
        loop: false,     // ループ再生するか
        autoplay: false, // 自動再生するか

        // 読み込み完了時に実行する処理
        onload: ()=>{
            record.removeAttribute("disabled");  // ボタンを使用可能にする
        },
        //bgm再生時に録画開始
        //onplay: () => {
            
            
        //},
        //onend: ()=>{
        //    recorder.stop();//録画終了
        //}
    });

    var sound2 = new Howl({
        src: ['/static/app/music/{{request.session.genre}}/{{request.session.inst}}.mp3'],

        //オプション
        preload: true,   // 事前ロード
        volume: 0.5,     // 音量(0.0〜1.0の範囲で指定)
        loop: false,     // ループ再生するか
        autoplay: false, // 自動再生するか

        // 読み込み完了時に実行する処理
        onload: ()=>{
            record.removeAttribute("disabled");  // ボタンを使用可能にする
        },
    });
    
    //録画ボタン押下後処理
    document.getElementById("record").onclick=function(){
	    pose.onResults(onResults);
         //動画録画用
        const canvasStream = document.querySelector('canvas').captureStream();

        //録音用
        const audioContext = Howler.ctx;
        const audioNode = Howler.masterGain;
        const destination = audioContext.createMediaStreamDestination();
        audioNode.connect(destination);
        //コンテキストとノードのずれ防止らしいけど↓二行なくてもいける？
        const oscillator = audioContext.createOscillator();
        oscillator.connect(destination);
        const audioStream = destination.stream;

        //動画と音声のストリーム合成
        const mediaStream = new MediaStream();

        [canvasStream, audioStream].forEach((stream) => {
            stream.getTracks().forEach((track) => mediaStream.addTrack(track));
        });

        //ストリームをレコーダーに登録
        const recorder = new MediaRecorder(mediaStream);

        const chunks = [];
        
        recorder.addEventListener('dataavailable', (e) => {
            chunks.push(e.data);
        });
        //音楽再生(録画)開始
        sound1.play();
        sound2.play();
        recorder.start();
        
        sound1.once('end',() => {
            recorder.stop();
        });
        //録画停止後の処理
        recorder.addEventListener('stop', () => {
            blob= new Blob(chunks, {type: 'video/mp4'});　//動画貯める用
            console.log("recording_finish");
            console.log(chunks);
            console.log(blob);
            //formdataの生成
            var formData = new FormData();
            formData.append("movie_record", blob);

            //Cookieの取得
            function parse_cookies() {
                var cookies = {};
                if (document.cookie && document.cookie !== '') {
                    document.cookie.split(';').forEach(function (c) {
                        var m = c.trim().match(/(\w+)=(.*)/);
                        if(m !== undefined) {
                            cookies[m[1]] = decodeURIComponent(m[2]);
                        }
                    });
                }
                return cookies;
            }
            var cookies = parse_cookies(); 
            console.log(cookies)

            //録画データをサーバに送信
            var request = new XMLHttpRequest();
            request.open("POST", "{% url 'Continue' %}");
            request.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
            request.setRequestHeader('X-CSRFToken', cookies['csrftoken']);
            request.send(formData);
            

            request.onloadend = function() {
                //ページ遷移
                var form = document.createElement('form');
                form.action = '{% url 'Continue' %}';
                form.method = 'post';
                let csrf_element = document.createElement('input');
                csrf_element.type = 'hidden';
                csrf_element.name = 'csrfmiddlewaretoken';
                csrf_element.value = '{{ csrf_token }}';
                form.appendChild(csrf_element);
                document.body.appendChild(form);
                form.submit();
            }
            
        });
    }

    function onResults(results) {
        if (!results.poseLandmarks) {
            //grid.updateLandmarks([]);
            return;
        }
        canvasCtx.save();
        canvasCtx.clearRect(0, 0, canvasElement.width, canvasElement.height);

        //カメラ画像表示
        // Only overwrite missing pixels.
        canvasCtx.globalCompositeOperation = 'destination-atop';
        canvasCtx.drawImage(results.image, 0, 0, canvasElement.width, canvasElement.height);

        //↓↓ポーン情報表示↓↓
        //canvasCtx.globalCompositeOperation = 'source-over';
        //drawConnectors(canvasCtx, results.poseLandmarks, POSE_CONNECTIONS, { color: '#00FF00', lineWidth: 4 });
        //drawLandmarks(canvasCtx, results.poseLandmarks,{color: '#FF0000', lineWidth: 2});

        //座標データ取得
        let tmp_array = [];
        tmp_array.push([results.poseLandmarks[0].x,results.poseLandmarks[0].y]);
        for (let i = 11; i <= 22; i++){
            tmp_array.push([results.poseLandmarks[i].x,results.poseLandmarks[i].y]);
        }
        tmp_point_history.push(tmp_array);
        

        //機械学習への入力データ取得
        if(tmp_point_history.length > 16){
            tmp_point_history.splice(0,tmp_point_history.length-16);
            //TensorFlowJSへ入力
            let tmp_point_history_flat=tmp_point_history.flat(Infinity);
            const x = tf.tensor1d(Float32Array.from(tmp_point_history_flat)).reshape([1,16,13,2]);
            
            //推論結果を出力
            const y = model.predict(x);
            let flag =y.reshape([-1]).argMax().arraySync()
            console.log(flag);
            //演奏判定
            change_volume(flag);
        }
        canvasCtx.restore();
    }

    //演奏判定
    async function change_volume(flag){
        if(flag==1){
            if(v_flag==0){
                v_flag=1;   //音鳴ってるかのフラグ
                sound2.volume(0.5);  //音を出す
            }
        }else{
            if(v_flag==1){
                v_flag=0;
                sound2.fade(0.5,0.0,100);  //volumeを1秒で0.5から0.0にフェードアウト
            }
        }
    }
  

    //mediapipe_poseライブラリの読み込み
    const pose = new Pose({locateFile: (file) => {
        return `https://cdn.jsdelivr.net/npm/@mediapipe/pose/${file}`;
    }});

    //mediapipeのオプション設定
    pose.setOptions({
        selfieMode: true,
        modelComplexity: 0,
        smoothLandmarks: true,
        enableSegmentation: false,
        smoothSegmentation: false,
        minDetectionConfidence: 0.5,
        minTrackingConfidence: 0.5
    });
    pose.onResults(onResults);

    //Webカメラデータをvideoに変換
    const camera = new Camera(videoElement, {
        onFrame: async () => {
            await pose.send({image: videoElement});
        },
        width: 1280,
        height: 720
    });

    //カメラ起動
    camera.start();
</script>

<!--ローディング-->
<script>
    const loader = document.getElementById('loading-wrapper');
        window.addEventListener('load', () => {
            const ms = 400;
            loader.style.transition = 'opacity ' + ms + 'ms';
  
            const loaderOpacity = function(){
            loader.style.opacity = 0;
            }
        const loaderDisplay = function(){
            loader.style.display = "none";
        }
        // setTimeout(loaderOpacity, 1);
        // setTimeout(loaderDisplay, ms);
        // デモ用
        setTimeout(loaderOpacity, 1000);
        setTimeout(loaderDisplay, 1000 + ms);
        });
        
</script>