<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - HappyJam</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/video.css' %}" />
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>

    <!--mediapipe導入-->
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils/camera_utils.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils/control_utils.js" crossorigin="anonymous"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils_3d/control_utils_3d.js" crossorigin="anonymous"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils/drawing_utils.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/pose/pose.js" crossorigin="anonymous"></script>

    <!--howler.js導入-->
    <script src="https://cdn.jsdelivr.net/npm/howler@2.2.0/dist/howler.min.js"></script>

    <!--音楽データ読み込み-->
    <audio preload="auto">
        <source src="{% static 'app/music/rock/rock.mp3' %}">
        <!--<source src="instrument.mp3">-->
    </audio>
</head>
<body>
    <div id="loading-wrapper">
      <div class="cube-wrapper">
  <div class="cube-folding">
    <span class="leaf1"></span>
    <span class="leaf2"></span>
    <span class="leaf3"></span>
    <span class="leaf4"></span>
  </div>
  <span class="loading" data-name="Loading">Loading</span>
</div>
  </div>
        <div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
    <div class="box-center">
        <div class="box">
            <main>
                <div class="title">
                    <span>Video</span>
                </div>
            </main>

            <div class="container" >
                <div class="camera">
  	                <!-- カメラ画像の入力（hiddenで非表示） -->
                    <video class="input_video" style="position: absolate; visibility: hidden"></video>
                </div>
                <!-- 出力画面用キャンパス -->
                <canvas class="output_canvas" width="1280px" height="720px"></canvas>
                <!--モーション確認用 <div class="landmark-grid-container"></div>  -->
            </div>

            <form method="POST" action="{% url 'Continue' %}">
                {% csrf_token %}
                <input class="button" type="submit" value="撮影" id="record">

            </form>
            <div class="sub">
                <form method="POST" action="{% url 'home' %}">
                {% csrf_token %}
                <input class="btn" type="submit" value="home">
            </form>
            </div>
        </div>
    </div>

</body>
</html>

<script type="module">
    const videoElement = document.getElementsByClassName('input_video')[0];
    const canvasElement = document.getElementsByClassName('output_canvas')[0];
    const canvasCtx = canvasElement.getContext('2d');
    //const landmarkContainer = document.getElementsByClassName('landmark-grid-container')[0];
    //const grid = new LandmarkGrid(landmarkContainer);

    //Web Audio APIのコンテキスト生成
    window.AudioContext = window.AudioContext || window.webkitAudioContext;
    const audioCtx = new AudioContext();

    //AudioWorklet導入
    class MyWorkletNode extends AudioWorkletNode {
        constructor(audioCtx) {
            super(audioCtx, 'my-worklet-processor');
        }
    }

    audioCtx.audioWorklet.addModule('processors.js').then(() => {
        let node = new MyWorkletNode(audioCtx);
    });


    //bgm
    var bgmTrack = document.querySelector("audio");
    var bgm = audioCtx.createMediaElementSource(bgmTrack);

    //楽器データ
    var instrument = new Audio();

    //動画録画用
    const canvasStream = canvasElement.captureStream();
    //const audioStream = destination.stream;

    //[canvasStream, audioStream].forEach((stream) => {
    //    stream.getTracks().forEach((track) => mediaStream.addTrack(track));
    //});
    const recorder = new MediaRecorder(canvasStream, { mimeType: "video/webm;codecs=vp9" });
    
    //録画ボタン押下後処理
    document.getElementById("record").onclick=function(){
	    //pose.onResults(onResults);

        //録画開始
        recorder.start();

        //音楽再生
        bgm.play();
        
	    bgm.addEventListener("ended", function () {
            recorder.stop();
            
	    }, false);
    }

    function onResults(results) {
        if (!results.poseLandmarks) {
            //grid.updateLandmarks([]);
            return;
        }
        canvasCtx.save();
        canvasCtx.clearRect(0, 0, canvasElement.width, canvasElement.height);

        //↓↓背景透過↓↓
        canvasCtx.drawImage(results.segmentationMask, 0, 0, canvasElement.width, canvasElement.height);
        // Only overwrite existing pixels.
        canvasCtx.globalCompositeOperation = 'source-out';
        canvasCtx.fillStyle = '#00FF00';
        canvasCtx.fillRect(0, 0, canvasElement.width, canvasElement.height);

        //カメラ画像表示
        // Only overwrite missing pixels.
        canvasCtx.globalCompositeOperation = 'destination-atop';
        canvasCtx.drawImage(results.image, 0, 0, canvasElement.width, canvasElement.height);

        //↓↓ポーン情報表示↓↓
        canvasCtx.globalCompositeOperation = 'source-over';
        drawConnectors(canvasCtx, results.poseLandmarks, POSE_CONNECTIONS, { color: '#00FF00', lineWidth: 4 });
        drawLandmarks(canvasCtx, results.poseLandmarks,{color: '#FF0000', lineWidth: 2});

        canvasCtx.restore();

        //デバッグ用
        //grid.updateLandmarks(results.poseWorldLandmarks);
    }

    //mediapipe_poseライブラリの読み込み
    const pose = new Pose({locateFile: (file) => {
        return `https://cdn.jsdelivr.net/npm/@mediapipe/pose/${file}`;
    }});

    //mediapipeのオプション設定
    pose.setOptions({
        selfieMode: true,
        modelComplexity: 0,
        smoothLandmarks: true,
        enableSegmentation: true,
        smoothSegmentation: true,
        minDetectionConfidence: 0.5,
        minTrackingConfidence: 0.5
    });
    pose.onResults(onResults);

    //Webカメラデータをvideoに変換
    const camera = new Camera(videoElement, {
        onFrame: async () => {
            await pose.send({image: videoElement});
        },
        width: 1280,
        height: 720
    });

    //カメラ起動
    camera.start();
</script>
<script>
    const loader = document.getElementById('loading-wrapper');
        window.addEventListener('load', () => {
            const ms = 400;
            loader.style.transition = 'opacity ' + ms + 'ms';
  
            const loaderOpacity = function(){
            loader.style.opacity = 0;
            }
        const loaderDisplay = function(){
        loader.style.display = "none";
        }
        // setTimeout(loaderOpacity, 1);
        // setTimeout(loaderDisplay, ms);
        // デモ用
        setTimeout(loaderOpacity, 1000);
        setTimeout(loaderDisplay, 1000 + ms);
        });
        
    </script>